page-feed {
  h2.feed_title {
    color: red;
    font-weight: bold;
  }

  p.feed_date {
    color: green;
}

.card-md {
  margin: 0px;
  border-radius: 2px;
  width: 100% ;
  font-size: 1.4rem;

}

}
